h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 61px;
}

.logo {
  width: 90px;
  height: 25px;
}

.header-button {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 94px;
  height: 46px;
  border-radius: 23px;
  background-color: #FF0043;
  box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.1);
  border: none;
}

.header-button:active {
  background-color: #b1002f;
}

.hero {
  display: flex;
}

.hero-pos-div_1 {
  width: 552px;
}

.hero-title {
  width: 552px;
  height: 170px;
  margin-top: 174px;
  color: #00194A;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px;
}

.hero-subtitle {
  width: 537px;
  height: 84px;
  margin-top: 20px;
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.hero-button {
  margin-top: 50px;
  width: 275px;
  height: 60px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  background-color: #FF0043;
  box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.1);
  border: none;
}

.hero-button:active {
  background-color: #b1002f;
}

.hero-pos-div_2 {
  display: flex;
  position: relative;
}

.svg-hero-oval_1 {
  width: 312px;
  height: 312px;
  position: absolute;
  top: 194px;
  left: 190px;
  border-radius: 312px;
  border: 1px solid rgba(255, 0, 67, 0.2);
}

.svg-hero-oval_2 {
  width: 454px;
  height: 454px;
  position: absolute;
  top: 120px;
  left: 120px;
  border-radius: 454px;
  border: 1px solid rgba(255, 0, 67, 0.15);
}

.svg-hero-oval_3 {
  width: 594px;
  height: 594px;
  position: absolute;
  top: 48px;
  left: 56px;
  border-radius: 454px;
  border: 1px solid rgba(255, 0, 67, 0.1);
}

.telepgone_1 {
  width: 331px;
  height: 356px;
  position: absolute;
  top: 135px;
  left: 30px;
  transition: transform 0.3s ease;
}

.telepgone_1:hover {
  transform: scale(1.1) rotate(-5deg);
}

.telepgone_2 {
  width: 330px;
  height: 340px;
  position: absolute;
  top: 225px;
  left: 340px;
  transition: transform 0.3s ease;
}

.telepgone_2:hover {
  transform: scale(1.1) rotate(5deg);
}

.img-human_1 {
  position: absolute;
  top: 19px;
  left: 194px;
  width: 105px;
  height: 105px;
  transition: transform 0.3s ease;
}

.img-human_1:hover {
  transform: scale(1.1);
}

.img-human_2 {
  position: absolute;
  top: 61px;
  left: 434px;
  width: 165px;
  height: 165px;
  transition: transform 0.3s ease;
}

.img-human_2:hover {
  transform: scale(1.1);
}

.img-human_3 {
  position: absolute;
  top: 154px;
  left: 348px;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.img-human_3:hover {
  transform: scale(1.1);
}

.img-human_4 {
  position: absolute;
  top: 310px;
  left: 3px;
  width: 115px;
  height: 115px;
  transition: transform 0.3s ease;
}

.img-human_4:hover {
  transform: scale(1.1);
}

.img-human_5 {
  position: absolute;
  top: 487px;
  left: 82px;
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
}

.img-human_5:hover {
  transform: scale(1.1);
}

.img-human_6 {
  position: absolute;
  top: 581px;
  left: 360px;
  width: 110px;
  height: 110px;
  transition: 0.3s ease;
}

.img-human_6:hover {
  transform: scale(1.1);
}

.oc {
  margin-top: 240px;
  margin-bottom: 151px;
}

.oc-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oc-item {
  width: 360px;
  height: 272px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
  padding: 30px;
  transition: 0.3s ease;
}

.oc-item:hover {
  transform: scale(1.05) translateY(-15px);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.267);
  z-index: 3;
}

.oc-svg {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.oc-item-title {
  color: #00194A;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

.oc-item-subtitle {
  color: #00194A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  width: 300px;
  height: 52px;
  margin-bottom: 20px;
}

.oc-item-link {
  color: #00194A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-right: 152px;
}

.oc-svg-dw {
  width: 21px;
  height: 20px;
}

.personal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 270px;
}

.personal-div_1 {
  position: relative;
  display: flex;
  width: 523px;
}

.personal-img {
  width: 381px;
  height: 508px;
  border-radius: 10px;
}

.personal-svg_1 {
  position: absolute;
  top: -93px;
  left: -233px;
  width: 249px;
  height: 249px;
  z-index: -1;
}

.personal-svg_2 {
  position: absolute;
  top: -93px;
  left: -110px;
  width: 249px;
  height: 249px;
  z-index: -1;
}

.personal-list {
  position: relative;
}

.personal-item {
  display: flex;
  justify-content: space-evenly;
  width: 391px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
  transition: 0.3s ease;
}

.personal-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.164);
}

.personal-item-img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.personal-item-title {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}

.personal-item-subtitle {
  color: #00194A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.8;
}

.personal-item-time {
  color: #00194A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.massage {
  padding: 5px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: #FF0043;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.div-massage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.personal-item:nth-child(1) {
  position: absolute;
  top: 297px;
  left: -254px;
}

.personal-item:nth-child(2) {
  position: absolute;
  top: 398px;
  left: -221px;
}

.personal-item:nth-child(3) {
  position: absolute;
  top: 497px;
  left: -188px;
}

.personal-div_2 {
  margin-left: 217px;
  position: relative;
}

.personal-title {
  width: 466px;
  height: 100px;
  color: #00194A;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 30px;
}

.personal-subtitle {
  width: 466px;
  height: 196px;
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  opacity: 0.8;
}

.span {
  top: 274px;
  left: 0px;
  width: 466px;
  position: absolute;
}

.stuff {
  display: flex;
  justify-content: space-between;
  margin-bottom: 290px;
}

.stuff-pos-div_1 {
  width: 466px;
}

.stuff-title {
  color: #00194A;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  width: 466px;
  height: 100px;
  margin-bottom: 30px;
}

.stuff-subtitle_1 {
  margin-bottom: 30px;
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  width: 466px;
  opacity: 0.8;
}

.stuff-subtitle_2 {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  width: 466px;
  opacity: 0.8;
}

.stuff-list {
  position: relative;
}

.stuff-item {
  width: 260px;
  height: 249px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
  padding: 30px 20px;
  transition: 0.3s ease;
}

.stuff-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.164);
}

.stuff-item:nth-child(1) {
  position: absolute;
  top: -110px;
  left: -505px;
}

.stuff-item:nth-child(2) {
  position: absolute;
  top: 38px;
  left: -215px;
}

.stuff-item:nth-child(3) {
  position: absolute;
  top: 170px;
  left: -505px;
}

.stuff-svg {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.stuff-item-title {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

.stuff-item-subtitle {
  color: #00194A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

.keep {
  display: flex;
  justify-content: space-between;
  margin-bottom: 216px;
}

.keep-pos-div_1 {
  position: relative;
  display: flex;
  width: 523px;
  margin-right: 222px;
}

.keep-img {
  width: 381px;
  height: 508px;
  border-radius: 10px;
}

.keep-svg_1 {
  position: absolute;
  top: -93px;
  left: 111px;
  width: 249px;
  height: 249px;
  z-index: -1;
}

.keep-svg_2 {
  position: absolute;
  top: -93px;
  left: 234px;
  width: 249px;
  height: 249px;
  z-index: -1;
}

.keep-svg_3 {
  position: absolute;
  top: 225px;
  left: 135px;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.keep-svg_4 {
  position: absolute;
  width: 290px;
  height: 290px;
  top: 280px;
  left: 188px;
  z-index: 2;
}

.keep-svg_5 {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 360px;
  left: 260px;
  z-index: 3;
}

.keep-svg_6 {
  position: absolute;
  top: 405px;
  left: 300px;
  width: 57px;
  height: 50px;
  z-index: 4;
  transition: transform 0.3s ease;
}

.keep-svg_6:hover {
  transform: scale(1.1);
}

.img-human__1 {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 180px;
  left: 290px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.img-human__1:hover {
  transform: scale(1.1);
}

.img-human__2 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 550px;
  left: 191px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.img-human__2:hover {
  transform: scale(1.1);
}

.img-human__3 {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 345px;
  left: 146px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.img-human__3:hover {
  transform: scale(1.1);
}

.img-human__4 {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 310px;
  left: 470px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.img-human__4:hover {
  transform: scale(1.1);
}

.img-human__5 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 475px;
  left: 410px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.img-human__5:hover {
  transform: scale(1.1);
}

.img-human__6 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 330px;
  left: 300px;
  z-index: 5;
  transition: transform 0.3s ease;
}

.img-human__6:hover {
  transform: scale(1.1);
}

.keep-pos-div_2 {
  margin-top: 129px;
}

.keep-title {
  color: #00194A;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 30px;
}

.keep-subtitle {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  opacity: 0.8;
}

.start-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1139px;
  height: 346px;
  border-radius: 25px;
  background-color: #00194A;
  margin-bottom: 80px;
}

.start-title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 30px;
}

.start-subtitle {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 50px;
}

.start-button {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  border: none;
  background-color: #FF0043;
  width: 275px;
  height: 60px;
}

.start-button:active {
  background-color: #a8002d;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-list {
  display: flex;
  gap: 35px;
  margin-bottom: 80px;
}

.footer-item {
  color: #00194A;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.2s ease;
}

.footer-item:hover {
  color: rgba(0, 25, 74, 0.4039215686);
}/*# sourceMappingURL=main.css.map */