footer {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    color: #00194A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-list{
    display: flex;
    gap: 35px;
    margin-bottom: 80px;
}

.footer-item {
    color: #00194A;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.2s ease;
}

.footer-item:hover{
    color: #00194a67;
}
