.telepgone_1 {
    width: 331px;
    height: 356px;
    position: absolute;
    top: 135px;
    left: 30px;
    transition: transform 0.3s ease;
}

.telepgone_1:hover {
    transform: scale(1.1) rotate(-5deg);
}

.telepgone_2 {
    width: 330px;
    height: 340px;
    position: absolute;
    top: 225px;
    left: 340px;
    transition: transform 0.3s ease;
}

.telepgone_2:hover {
    transform: scale(1.1) rotate(5deg);
}

.img-human_1 {
    position: absolute;
    top: 19px;
    left: 194px;
    width: 105px;
    height: 105px;
    transition: transform 0.3s ease;
}

.img-human_1:hover {
    transform: scale(1.1);
}

.img-human_2 {
    position: absolute;
    top: 61px;
    left: 434px;
    width: 165px;
    height: 165px;
    transition: transform 0.3s ease;
}

.img-human_2:hover {
    transform: scale(1.1);
}

.img-human_3 {
    position: absolute;
    top: 154px;
    left: 348px;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.img-human_3:hover {
    transform: scale(1.1);
}

.img-human_4 {
    position: absolute;
    top: 310px;
    left: 3px;
    width: 115px;
    height: 115px;
    transition: transform 0.3s ease;
}

.img-human_4:hover {
    transform: scale(1.1);
}

.img-human_5 {
    position: absolute;
    top: 487px;
    left: 82px;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.img-human_5:hover {
    transform: scale(1.1);
}

.img-human_6 {
    position: absolute;
    top: 581px;
    left: 360px;
    width: 110px;
    height: 110px;
    transition: 0.3s ease;
}

.img-human_6:hover {
    transform: scale(1.1);
}

